---
title: Test Page
layout: base
---

#index-banner.section.no-pad-bot
	.container
		br
		br
		h1.header.center.orange-text Jekyll-Bliss Material
		.row.center
			h5.header.col.s12.light A modern responsive front-end framework based on Material Design
			p This is a template, originally created by Materialize, ported over to Jekyll-Bliss.
		.row.center
			a#download-button.btn-large.waves-effect.waves-light.orange(href='https://jekyll-pug.dougie.io/') Get Started
		br
		br
.container
	.section
		// Icon Section
		.row
			.col.s12.m4
				.icon-block
					h2.center.light-blue-text
						i.material-icons flash_on
					h5.center Speeds up development
					p.light
						| We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
			.col.s12.m4
				.icon-block
					h2.center.light-blue-text
						i.material-icons group
					h5.center User Experience Focused
					p.light
						| By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.
			.col.s12.m4
				.icon-block
					h2.center.light-blue-text
						i.material-icons settings
					h5.center Easy to work with
					p.light
						| We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.

.container#blog_roll
	style.
		#red_header {
			text-align: center;
			box-sizing: border-box;
			padding: 20px;
		}
	h2.white-text.light-blue.lighten-1.z-depth-2#red_header From the Blog
	.row
		| {% for post in site.posts %}
		.col.s12.m6
			.card.white
				.card-content
					span.card-title {{post.title}}
					p {{post.excerpt}}
				.card-action
					a(href='{{post.url}}') Read More
		| {% endfor %}

